{% extends 'base.html' %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}
{% block content %}

<div class="container">
    <div class="text-center">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm">
                <img src="{{ url_for('static', filename='img/oct.png') }}" width="288" height="228">
                    <h2 class="h2">Регистрация</h2>

                            {% with messages = get_flashed_messages() %}
                                {% if messages %}

                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}

                                {% endif %}
                            {% endwith %}

                    <form class="form-signin" method="POST">

                        <label for="inputEmail" class="sr-only">Логин</label>
                        <input type="text" name="login" id="inputEmail" class="form-control" placeholder="Логин" required autofocus>
                        <label for="inputPassword" class="sr-only">Пароль</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
                        <label for="inputPassword" class="sr-only">Пароль (подтвердить)</label>
                        <input type="password" name="password2" id="inputPassword" class="form-control" placeholder="Пароль (подтвердить)" required>

                        <div class="col-sm">
                        <label><a href="{{ url_for('login_page') }}">Войти</a></label>
                        </div>
                        <button type="submit" class="btn btn-info">Регистрация</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}